
    .main{
    width: 952px;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    }

    .section {
    box-shadow: 0 0 10px 2px rgb(200, 200, 200);
    background-color: rgb(255, 255, 255);
    margin-bottom: 60px;
    position: relative;
    }

    .section__main {
    padding-left: 35px;
    padding-right: 38px;
    padding-top: 20px;
    padding-bottom: 32px;
    }

    .section__header {
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    text-align: left;
    color: rgb(0,0,0);

    }

    .hline {
    border: none;
    background-color: rgb(238, 238, 238);
    color: rgb(238, 238, 238);
    height: 2px;
    }

    .section__form {
    padding: 0;
    }

    .section__form-field {
      padding-left: 4%;
       padding-right: 4%;
       height: 55px;
       font: 20px Lato;
       line-height: 30px;
       color: black;
       background-color: rgb(247,249,252);
       margin-bottom: 4%;
       border: none;
       border-radius: 1px;
       margin-left: 30%;
     }

     .form__username{
     width: 38%;
     margin-right: 7%;
     }

     .form__submit {
       background-color: rgb(92,107,192);
       border: none;
       font-family: 'Lato', sans-serif;
       font-size: 21px;
       color: rgb(255, 255, 255);
       text-transform: uppercase;
       margin-left: 30%;
       margin-top: 40px;
       padding-left: 25px;
       padding-right: 25px;
       padding-top: 15px;
       padding-bottom: 15px;
     }

     .form__submit:hover{
     border: 1px solid rgb(238,238,238);
     }

     .form__submit:active{
     border: 1px solid rgb(92,107,192);
     }

     .field-header{
       margin-left: 30%;
       text-transform: capitalize;
       font-family: 'Lato', sans-serif;
       font-size: 15px;
       font-weight: 500;
     }

     .section__form-radio{
  /*     vertical-align: top;
      width: 17px;
      height: 17px;
       margin: 0 3px 0 0;*/
      display: block;
      margin-left: 33%;
     }

     .radio-header{
       margin-left: 37%;
       margin-top: -14px;
     }

     input:hover, textarea:hover, input:focus, textarea:focus {
     border-color: rgb(92,107,192);
     }


/*     label {

    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
   font-size: 13px;
     }*/
